!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# All .env files
*.env
.env

# the produced data
data/

#R settings
.Rhistory
